<div class="container">
  <h1><%= @list.name %></h1>
  <p>
    <%= link_to 'Add bookmark', new_list_bookmark_path(@list)%>
  </p>
  <% @list.bookmarks.each do |bookmark| %>
    <div class="card" style="width: 18rem;">
    <%# <img src="..." class="card-img-top" alt="..."> %>
      <div class="card-body">
        <h5 class="card-title"><%= bookmark.movie.title %></h5>
        <p class="card-text"><%= bookmark.comment %></p>
        <%= link_to 'Delete bookmark',
          bookmark_path(bookmark),
          data: {turbo_method: 'delete', turbo_confirm: 'Delete bookmark?'},
          class: 'btn btn-primary'
        %>
      </div>
    </div>
  <% end %>

</div>
